body {
  overflow-x: hidden;
  position: relative;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 28px;
  color: #6a6a6a;
  font-size: 14px;
  background-color: #eff2f1;
}

a {
  text-decoration: none;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #2f2f2f;
  text-decoration: underline;
}

a:hover {
  color: #2f2f2f;
  text-decoration: none;
}

a.more {
  font-weight: 600;
}

/* header start  */
.navbar {
  background: #3b5d50 !important;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar .navbar-brand {
  font-size: 32px;
  font-weight: 600;
}

.navbar .navbar-brand>span {
  opacity: .4;
}

.navbar .navbar-toggler {
  border-color: transparent;
}

.navbar .navbar-toggler:active,
.navbar .navbar-toggler:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

@media (min-width: 992px) {
  .navbar .custom li {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.navbar .custom li a {
  font-weight: 500;
  color: #ffffff !important;
  opacity: .5;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  position: relative;
}

@media (min-width: 768px) {
  .custom-navbar .custom li a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 8px;
    right: 8px;
    background: #f9bf29;
    height: 5px;
    opacity: 1;
    visibility: visible;
    width: 0;
    -webkit-transition: .15s all ease-out;
    -o-transition: .15s all ease-out;
    transition: .15s all ease-out;
  }
}

.navbar .custom li a:hover {
  opacity: 1;
}

.navbar .custom li a:hover:before {
  width: calc(100% - 16px);
}

.navbar .custom li.active a {
  opacity: 1;
}

.navbar .custom li.active a:before {
  width: calc(100% - 16px);
}

.navbar .custom-icon {
  margin-left: 0 !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

@media (min-width: 768px) {
  .navbar .custom-icon {
    margin-left: 40px !important;
  }
}

.navbar .custom-icon li {
  margin-left: 0px;
  margin-right: 0px;
}

.navbar .custom-icon li:first-child {
  margin-right: 20px;
}

/* header end  */

/* banner start */
.banner {
  background: #3b5d50;
  padding: calc(4rem - 30px) 0 0rem 0;
}

@media (min-width: 768px) {
  .banner {
    padding: calc(4rem - 30px) 0 4rem 0;
  }
}

@media (min-width: 992px) {
  .banner {
    padding: calc(8rem - 30px) 0 8rem 0;
  }
}

.banner .introduction {
  position: relative;
  z-index: 4;
}

@media (min-width: 992px) {
  .banner .introduction {
    max-width: 450px;
  }
}

.banner h1 {
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 30px;
}

@media (min-width: 1400px) {
  .banner h1 {
    font-size: 54px;
  }
}

.banner p {
  color: rgba(255, 255, 255, 0.5);
}

.banner .banner-img {
  position: relative;
}

.banner .banner-img img {
  position: relative;
  top: 0px;
  right: 0px;
  z-index: 2;
  max-width: 780px;
  left: -20px;
}

@media (min-width: 768px) {
  .banner .banner-img img {
    right: 0px;
    left: -100px;
  }
}

@media (min-width: 992px) {
  .banner .banner-img img {
    left: 0px;
    top: -80px;
    position: absolute;
    right: -50px;
  }
}

@media (min-width: 1200px) {
  .banner .banner-img img {
    left: 0px;
    top: -80px;
    right: -100px;
  }
}

.banner .banner-img:after {
  content: "";
  position: absolute;
  width: 255px;
  height: 217px;
  background-image: url("../images/dots-light.svg");
  background-size: contain;
  background-repeat: no-repeat;
  right: -100px;
  top: -0px;
}

@media (min-width: 1200px) {
  .banner .banner-img:after {
    top: -40px;
  }
}

.btn {
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 30px;
  color: #ffffff;
  background: #2f2f2f;
  border-color: #2f2f2f;
}

.btn:hover {
  color: #ffffff;
  background: #222222;
  border-color: #222222;
}

.btn:active,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn.btn-primary {
  background: #3b5d50;
  border-color: #3b5d50;
}

.btn.btn-primary:hover {
  background: #314d43;
  border-color: #314d43;
}

.btn.btn-secondary {
  color: #2f2f2f;
  background: #f9bf29;
  border-color: #f9bf29;
}

.btn.btn-secondary:hover {
  background: #f8b810;
  border-color: #f8b810;
}

.btn.btn-white-outline {
  background: transparent;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.3);
}

.btn.btn-white-outline:hover {
  border-color: white;
  color: #ffffff;
}

/* banner end */

/* product start  */
.section-title {
  color: #2f2f2f;
}

.product-section {
  padding: 7rem 0;
}

.product-section .product-item {
  text-align: center;
  text-decoration: none;
  display: block;
  position: relative;
  padding-bottom: 50px;
}

.product-section .product-item .product {
  margin-bottom: 30px;
  position: relative;
  top: 0;
}

.product-section .product-item h3 {
  font-weight: 600;
  font-size: 16px;
}

.product-section .product-item strong {
  font-weight: 800 !important;
  font-size: 18px !important;
}

.product-section .product-item h3,
.product-section .product-item strong {
  color: #2f2f2f;
  text-decoration: none;
}

.product-section .product-item .icon-cross {
  position: absolute;
  width: 35px;
  height: 35px;
  display: inline-block;
  background: #2f2f2f;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: -17.5px;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: .3s all ease;
}

.product-section .product-item .icon-cross img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

.product-section .product-item:before {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  content: "";
  background: #dce5e4;
  height: 0%;
  z-index: -1;
  border-radius: 10px;
  transition: .3s all ease;
}

.product-section .product-item:hover .product {
  top: -25px;
}

.product-section .product-item:hover .icon-cross {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}

.product-section .product-item:hover:before {
  height: 70%;
}

/* product end  */

/* popular-product start*/
.popular-product {
  padding: 0 0 7rem 0;
}

.popular-product .product-item h3 {
  font-size: 14px;
  font-weight: 700;
  color: #2f2f2f;
}

.popular-product .product-item a {
  text-decoration: none;
  color: #2f2f2f;
  transition: .3s all ease;
}

.popular-product .product-item a:hover {
  color: rgba(47, 47, 47, 0.5);
}

.popular-product .product-item p {
  line-height: 1.4;
  margin-bottom: 10px;
  font-size: 14px;
}

.popular-product .product-item .Product {
  margin-right: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 120px;
  flex: 0 0 120px;
  position: relative;
}

.popular-product .product-item .Product:before {
  content: "";
  position: absolute;
  border-radius: 20px;
  background: #dce5e4;
  width: 98px;
  height: 98px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* popular-product end*/

/* blog start  */
.blog-section {
  padding: 7rem 0 12rem 0;
}

.blog-section .post-img a {
  text-decoration: none;
}

.blog-section .post-img .post {
  display: block;
  margin-bottom: 20px;
}

.blog-section .post-img .post img {
  border-radius: 20px;
}

.blog-section .post-img .post-content {
  padding-left: 15px;
  padding-right: 15px;
}

.blog-section .post-img .post-content h3 {
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 600;
  margin-bottom: 7px;
}

.blog-section .post-img .post-content .meta {
  font-size: 14px;
}

.blog-section .post-img .post-content .meta a {
  font-weight: 600;
}

.blog-section .post-img:hover .post img,
.blog-section .post-img:focus .post img {
  opacity: 0.6;
}

/* blog end  */

/* footer start  */
.-section .links-wrap {
  margin-top: 0px;
}

@media (min-width: 992px) {
  .footer-section .links-wrap {
    margin-top: 54px;
  }
}

.footer-section .links-wrap ul li {
  margin-bottom: 10px;
}

.footer-section .footer-logo-wrap .footer-logo {
  font-size: 32px;
  font-weight: 500;
  text-decoration: none;
  color: #3b5d50;
}

.footer-section .custom-social li {
  margin: 2px;
  display: inline-block;
}

.footer-section .custom-social li a {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  background: #dce5e4;
  color: #3b5d50;
  border-radius: 50%;
}

.footer-section .custom-social li a:hover {
  background: #3b5d50;
  color: #ffffff;
}

/* footer end  */

/* add to cart start  */

.Cart {
  padding: 7rem 0;
}

.form-control {
  height: 50px;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
}

.form-control:active,
.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #3b5d50;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.form-control::-webkit-input-placeholder {
  font-size: 14px;
}

.form-control::-moz-placeholder {
  font-size: 14px;
}

.form-control:-ms-input-placeholder {
  font-size: 14px;
}

.form-control:-moz-placeholder {
  font-size: 14px;
}

.service {
  line-height: 1.5;
}

.service .service-icon {
  border-radius: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #3b5d50;
  margin-right: 20px;
  color: #ffffff;
}

textarea {
  height: auto !important;
}

.blocks-table {
  overflow: auto;
}

.blocks-table .product-image {
  width: 200px;
}

.blocks-table .btn {
  padding: 2px 10px;
}

.blocks-table thead th {
  padding: 30px;
  text-align: center;
  border-width: 0px !important;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
}

.blocks-table td {
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.8);
}

.blocks-table tbody tr:first-child td {
  border-top: 1px solid #3b5d50 !important;
}

.blocks-table .btn {
  background: none !important;
  color: #000000;
  border: none;
  height: auto !important;
}


/* add to cart end  */